In [19]:
import pandas as pd
import numpy as np

In [20]:
Data=pd.ExcelFile("Data.xlsx")
Data.sheet_names

['Demographics',
 'Store Mapping',
 'Category Mapping',
 'Ping_Information',
 'Variable Descriptions']

In [21]:
Demo = pd.read_excel(Data,'Demographics')
Store_map = pd.read_excel(Data,'Store Mapping')
Category_map = pd.read_excel(Data,'Category Mapping')
Ping_info = pd.read_excel(Data,'Ping_Information')
Variable_Desc = pd.read_excel(Data,'Variable Descriptions')

In [31]:
Demo.head()

,Unnamed: 0,Shopper_Id,ID,Age,Gender,Marital_Status,Owns_Home,Number_of_Children_under_18_years_of_age
0,NaN,Shopper_1,831b9564-99d7-3b57-a9c0-3ac1f31560d5,23,F,D,N,1
1,NaN,Shopper_2,1bd5093b-5a76-3ccc-b0d2-37695a858a95,42,F,M,N,1
2,NaN,Shopper_3,d08139f8-c50d-3472-adf8-6dcc4724164c,51,F,M,N,1
3,NaN,Shopper_4,29b285af-f631-3100-9a4e-5de09df7f974,35,F,D,N,2
4,NaN,Shopper_5,63fc3248-9900-3074-b887-c6ed6d73d0e3,42,M,S,N,0

In [32]:
Store_map.head()

,Unnamed: 0,Store_Name,Floor_name,Floor_Index,latitude,longitude
0,NaN,Jamba Juice,Concourse Level,0,37.784091,-122.406813
1,NaN,Coriander Gourmet Thai,Concourse Level,0,37.784596,-122.406210
2,NaN,NYS Collection,Concourse Level,0,37.784396,-122.406587
3,NaN,Hallmark,Concourse Level,0,37.783771,-122.407377
4,NaN,Sorabol Korean BBQ & Asian Noodles,Concourse Level,0,37.784601,-122.406328

In [33]:
Category_map.head()

   Unnamed: 0         Store_Name Broad_Category    Fine_Category
0         NaN      Amazon Pop-Up         Retail            Misc.
1         NaN     Bespoke Events         Retail            Misc.
2         NaN  Bespoke Coworking         Retail  Specialty Store
3         NaN              Dyson         Retail            Misc.
4         NaN   Penhaligonï¿½Ûªs         Retail            Misc.

In [34]:
Ping_info.head()

,Unnamed: 0,Shopper_ID,floor,lat,lng,x,y,seenTimestamp
0,NaN,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z
1,NaN,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z
2,NaN,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z
3,NaN,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z
4,NaN,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z

In [35]:
Store_map=Store_map.drop(['Unnamed: 0'],axis=1)
Category_map=Category_map.drop(['Unnamed: 0'],axis=1)
Ping_info=Ping_info.drop(['Unnamed: 0'],axis=1)

In [36]:
print(Ping_info.floor.unique())
print(Store_map.Floor_name.unique())
print(Store_map.Floor_Index.unique())

['Floor 4' 'Floor 1' 'Concourse' 'Floor 2' 'Floor 3']
['Concourse Level' 'Level 1' 'Level 2' 'Level 3' 'Level 4/N1' 'Level 5/N2'
 'N3' 'N4' 'N5']
[0 1 2 3 4 5 6 7 8]

In [37]:
di={'Floor 4': 4 ,'Floor 1': 1, 'Concourse': 0 ,'Floor 2': 2 ,'Floor 3': 3}
Ping_info["store_floor"]=Ping_info.floor
Ping_info.store_floor=Ping_info.store_floor.map(di)
Ping_info.head()

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z,4
1,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z,1
2,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z,4
3,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z,0
4,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z,2

In [39]:
# floor4=Store_map[Store_map['Floor_Index'] == 4]
# floor3=Store_map[Store_map['Floor_Index'] == 3].Store_Name
# floor2=Store_map[Store_map['Floor_Index'] == 2].Store_Name
# floor1=Store_map[Store_map['Floor_Index'] == 1].Store_Name
# floor0=Store_map[Store_map['Floor_Index'] == 0].Store_Name
# floor4['latitude']

In [40]:
# len(Ping_info)
# Ping_info.Shopper_ID[5]
# # Ping_info.store_floor[i]
# Ping_info.lat[0]
# i=1666
# latt=np.square((Ping_info.lat[i])-(Store_map[Store_map['Floor_Index'] == Ping_info.store_floor[i]].latitude))
# lngg=np.square((Ping_info.lng[i])-(Store_map[Store_map['Floor_Index'] == Ping_info.store_floor[i]].longitude))
# min_dist=np.sqrt(latt+lngg)
# np.argmin(min_dist)
# min(min_dist)
# # Store_map.Store_Name[int(min(dist))]
# # Store_map[Store_map['Floor_Index'] == Ping_info.store_floor[i]].latitude

In [41]:
from math import acos, cos, sin, sqrt
import math
# #shopper_lat=37.661463

# #shopper_lon=-122.298673
# disss=lambda lat1,lon1:acos(cos(math.radians(90-lat1)) *cos(math.radians(90-shopper_lat)) +sin(math.radians(90-lat1)) *sin(math.radians(90-shopper_lat)) *cos(math.radians(lon1-shopper_lon)))*6371/1.609
# disss(37.7838, -122.406)

In [43]:
import math
Nearest_shop=[]
Nearest_Distance=[]
for i in range(len(Ping_info)):
    shopper_lat=Ping_info.lat[i]
    shopper_lon=Ping_info.lng[i]
    disss=lambda lat1,lon1:acos(cos(math.radians(90-lat1)) *cos(math.radians(90-shopper_lat)) +sin(math.radians(90-lat1)) *sin(math.radians(90-shopper_lat)) *cos(math.radians(lon1-shopper_lon)))*6371/1.609

    Store_map['total_dist'] = list(map(disss,Store_map.latitude,Store_map.longitude))
    arg=np.argmin(Store_map[Store_map["Floor_Index"]==Ping_info.store_floor[i]]["total_dist"])
    Nearest_Distance.append(Store_map.total_dist[arg])
    Nearest_shop.append(Store_map.Store_Name[arg])

In [55]:
df_shop=pd.Series(Nearest_shop,name="Nearest_shop")
df_dist=pd.Series(Nearest_Distance,name="Nearest_Distance")
#df_dist
df_ping_dup=pd.concat([Ping_info,df_shop],axis=1)
df_ping_dup=pd.concat([df_ping_dup,df_dist],axis=1)
#df_ping_dup
di=dict((i,j) for i,j in zip(Category_map.Store_Name,Category_map.Fine_Category))
df_ping_dup["Fine_Category"]=df_ping_dup["Nearest_shop"]
df_ping_dup["Fine_Category"]=df_ping_dup["Fine_Category"].map(di)
df_ping_dup.head()

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,Nearest_shop,Nearest_Distance,Fine_Category
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z,4,Bloomingdale's,10.282573,Department Stores
1,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z,1,Janie And Jack,0.003270,Apparel And Accessories
2,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z,4,TAP 415,0.007826,Qsr Restaurants
3,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z,0,Marbles: The Brain Store,0.006479,Toy Stores
4,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z,2,Forever Flawless,0.001976,Furniture And Decor

In [15]:
df_ping_dup.groupby("Shopper_ID").Nearest_shop.value_counts()

Shopper_ID  Nearest_shop
Shopper_1   Bloomingdale's                     117
            Fossil                              10
            Kiehl's                              9
            Jamba Juice                          7
            OAK+FORT                             7
            Shoe Palace                          7
            M.Y. China                           4
            Champs Sports                        3
            Forever Flawless                     3
            San Francisco Soup Company           3
            Claire's Boutique                    2
            Lids                                 2
            Sunglass Hut                         2
            Aldo                                 1
            American Eagle Outfitters            1
            Bristol Farms                        1
            Cafe Bellini                         1
            Camper                               1
            GNC                                  1
            Lady Foot Locker                     1
            Loving Hut Vegan Cuisine             1
            Nordstrom                            1
            TAP 415                              1
            The Walking Company                  1
            Wetzel's Pretzels                    1
            iPlay n Talk                         1
Shopper_10  Bloomingdale's                     135
            Bespoke Events                      13
            TAP 415                              8
            Kiehl's                              5
                                              ...
Shopper_99  Adidas                               2
            Brighton Collectibles                2
            Cafe Bellini                         2
            Cako Bakery                          2
            Champs Sports                        2
            LEGO                                 2
            Loving Hut Vegan Cuisine             2
            M.Y. China                           2
            OAK+FORT                             2
            RED Valentino                        2
            Warriors Team Store                  2
            Abercrombie & Fitch                  1
            Amazon Pop-Up                        1
            Amoura Cafe Fresh Mediterranean      1
            Aveda                                1
            Bose                                 1
            ECCO                                 1
            Haagen Dazs                          1
            Lady Foot Locker                     1
            Michael Kors                         1
            Michael Kors Men                     1
            Optica                               1
            Peet's Coffee & Tea                  1
            Penhaligonï¿½Ûªs                     1
            Pressed Juicery                      1
            ProActiv Solutions                   1
            Rolex                                1
            Shoe Palace                          1
            T-Mobile                             1
            iPlay n Talk                         1
Name: Nearest_shop, dtype: int64

In [77]:
df_ping_dup[df_ping_dup["Shopper_ID"]=="Shopper_1"].head()

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,Nearest_shop,Nearest_Distance,Fine_Category
352,Shopper_1,Floor 4,35.664477,-115.588529,251861.0436,-5.920846e+05,2016-11-11T02:54:35.000Z,4,Bloomingdale's,404.898095,Department Stores
418,Shopper_1,Floor 1,30.227255,-97.925648,945132.9383,-2.105954e+06,2016-11-12T02:30:56.000Z,1,Bloomingdale's,1491.108689,Department Stores
1257,Shopper_1,Floor 3,31.486710,-102.005887,772288.8181,-1.761742e+06,2016-11-12T02:30:56.000Z,3,Bloomingdale's,1235.696309,Department Stores
2689,Shopper_1,Concourse,34.005662,-110.166224,472621.2404,-1.052907e+06,2016-11-12T02:33:21.000Z,0,Bloomingdale's,732.564748,Department Stores
4508,Shopper_1,Floor 3,32.386330,-104.920364,661976.9042,-1.510040e+06,2016-11-12T02:27:29.000Z,3,Bloomingdale's,1054.780685,Department Stores

In [78]:
ser=df_ping_dup[["Nearest_shop","Nearest_Distance","Fine_Category","Shopper_ID"]].groupby("Shopper_ID").agg({"Nearest_shop":"value_counts"})

In [79]:
ser.head()

                           Nearest_shop
Shopper_ID Nearest_shop
Shopper_1  Bloomingdale's           117
           Fossil                    10
           Kiehl's                    9
           Jamba Juice                7
           OAK+FORT                   7

In [80]:
Ping_info.Shopper_ID.unique()

array(['Shopper_556', 'Shopper_360', 'Shopper_420', 'Shopper_245',
       'Shopper_334', 'Shopper_205', 'Shopper_530', 'Shopper_359',
       'Shopper_189', 'Shopper_481', 'Shopper_155', 'Shopper_287',
       'Shopper_536', 'Shopper_344', 'Shopper_41', 'Shopper_122',
       'Shopper_51', 'Shopper_68', 'Shopper_22', 'Shopper_135',
       'Shopper_156', 'Shopper_296', 'Shopper_131', 'Shopper_491',
       'Shopper_533', 'Shopper_274', 'Shopper_404', 'Shopper_380',
       'Shopper_325', 'Shopper_259', 'Shopper_270', 'Shopper_58',
       'Shopper_121', 'Shopper_224', 'Shopper_558', 'Shopper_489',
       'Shopper_180', 'Shopper_449', 'Shopper_561', 'Shopper_475',
       'Shopper_557', 'Shopper_98', 'Shopper_268', 'Shopper_550',
       'Shopper_27', 'Shopper_212', 'Shopper_405', 'Shopper_60',
       'Shopper_8', 'Shopper_213', 'Shopper_59', 'Shopper_35',
       'Shopper_197', 'Shopper_418', 'Shopper_284', 'Shopper_510',
       'Shopper_208', 'Shopper_114', 'Shopper_260', 'Shopper_564',
       'Shopper_216', 'Shopper_223', 'Shopper_387', 'Shopper_446',
       'Shopper_431', 'Shopper_447', 'Shopper_95', 'Shopper_316',
       'Shopper_314', 'Shopper_209', 'Shopper_531', 'Shopper_181',
       'Shopper_412', 'Shopper_157', 'Shopper_150', 'Shopper_330',
       'Shopper_33', 'Shopper_84', 'Shopper_406', 'Shopper_524',
       'Shopper_543', 'Shopper_255', 'Shopper_241', 'Shopper_525',
       'Shopper_432', 'Shopper_482', 'Shopper_18', 'Shopper_505',
       'Shopper_129', 'Shopper_425', 'Shopper_306', 'Shopper_106',
       'Shopper_10', 'Shopper_309', 'Shopper_299', 'Shopper_285',
       'Shopper_350', 'Shopper_73', 'Shopper_506', 'Shopper_544',
       'Shopper_133', 'Shopper_141', 'Shopper_410', 'Shopper_132',
       'Shopper_90', 'Shopper_32', 'Shopper_37', 'Shopper_71',
       'Shopper_144', 'Shopper_315', 'Shopper_246', 'Shopper_385',
       'Shopper_105', 'Shopper_286', 'Shopper_538', 'Shopper_500',
       'Shopper_439', 'Shopper_477', 'Shopper_389', 'Shopper_272',
       'Shopper_69', 'Shopper_560', 'Shopper_371', 'Shopper_256',
       'Shopper_17', 'Shopper_225', 'Shopper_361', 'Shopper_218',
       'Shopper_36', 'Shopper_473', 'Shopper_96', 'Shopper_484',
       'Shopper_559', 'Shopper_92', 'Shopper_196', 'Shopper_184',
       'Shopper_511', 'Shopper_16', 'Shopper_72', 'Shopper_430',
       'Shopper_277', 'Shopper_490', 'Shopper_48', 'Shopper_229',
       'Shopper_52', 'Shopper_108', 'Shopper_262', 'Shopper_109',
       'Shopper_554', 'Shopper_280', 'Shopper_177', 'Shopper_152',
       'Shopper_80', 'Shopper_34', 'Shopper_249', 'Shopper_211',
       'Shopper_64', 'Shopper_13', 'Shopper_535', 'Shopper_236',
       'Shopper_137', 'Shopper_93', 'Shopper_448', 'Shopper_545',
       'Shopper_99', 'Shopper_143', 'Shopper_159', 'Shopper_492',
       'Shopper_240', 'Shopper_390', 'Shopper_116', 'Shopper_508',
       'Shopper_161', 'Shopper_24', 'Shopper_478', 'Shopper_25',
       'Shopper_483', 'Shopper_158', 'Shopper_273', 'Shopper_546',
       'Shopper_433', 'Shopper_327', 'Shopper_423', 'Shopper_164',
       'Shopper_320', 'Shopper_4', 'Shopper_117', 'Shopper_339',
       'Shopper_468', 'Shopper_265', 'Shopper_115', 'Shopper_373',
       'Shopper_1', 'Shopper_398', 'Shopper_2', 'Shopper_28',
       'Shopper_515', 'Shopper_370', 'Shopper_440', 'Shopper_124',
       'Shopper_465', 'Shopper_243', 'Shopper_466', 'Shopper_278',
       'Shopper_120', 'Shopper_503', 'Shopper_356', 'Shopper_485',
       'Shopper_111', 'Shopper_29', 'Shopper_154', 'Shopper_332',
       'Shopper_47', 'Shopper_3', 'Shopper_331', 'Shopper_85',
       'Shopper_377', 'Shopper_551', 'Shopper_239', 'Shopper_163',
       'Shopper_76', 'Shopper_428', 'Shopper_30', 'Shopper_460',
       'Shopper_45', 'Shopper_517', 'Shopper_521', 'Shopper_318',
       'Shopper_375', 'Shopper_378', 'Shopper_527', 'Shopper_509',
       'Shopper_363', 'Shopper_364', 'Shopper_419', 'Shopper_486',
       'Shopper_520', 'Shopper_512', 'Shopper_317', 'Shopper_518',
       'Shopper_242', 'Shopper_190', 'Shopper_295', 'Shopper_53',
       'Shopper_264', 'Shopper_263', 'Shopper_467', 'Shopper_519',
       'Shopper_454', 'Shopper_516', 'Shopper_459', 'Shopper_319',
       'Shopper_194', 'Shopper_160', 'Shopper_450', 'Shopper_91',
       'Shopper_289', 'Shopper_479', 'Shopper_281', 'Shopper_173',
       'Shopper_328', 'Shopper_174', 'Shopper_202', 'Shopper_61',
       'Shopper_78', 'Shopper_441', 'Shopper_31', 'Shopper_62',
       'Shopper_82', 'Shopper_215', 'Shopper_461', 'Shopper_501',
       'Shopper_56', 'Shopper_566', 'Shopper_20', 'Shopper_145',
       'Shopper_457', 'Shopper_462', 'Shopper_252', 'Shopper_178',
       'Shopper_366', 'Shopper_187', 'Shopper_347', 'Shopper_548',
       'Shopper_186', 'Shopper_353', 'Shopper_444', 'Shopper_499',
       'Shopper_251', 'Shopper_227', 'Shopper_279', 'Shopper_343',
       'Shopper_55', 'Shopper_495', 'Shopper_487', 'Shopper_140',
       'Shopper_435', 'Shopper_402', 'Shopper_226', 'Shopper_384',
       'Shopper_365', 'Shopper_342', 'Shopper_300', 'Shopper_87',
       'Shopper_250', 'Shopper_488', 'Shopper_451', 'Shopper_166',
       'Shopper_21', 'Shopper_415', 'Shopper_493', 'Shopper_233',
       'Shopper_83', 'Shopper_310', 'Shopper_340', 'Shopper_204',
       'Shopper_391', 'Shopper_203', 'Shopper_77', 'Shopper_553',
       'Shopper_66', 'Shopper_333', 'Shopper_426', 'Shopper_126',
       'Shopper_311', 'Shopper_102', 'Shopper_464', 'Shopper_307',
       'Shopper_294', 'Shopper_471', 'Shopper_437', 'Shopper_147',
       'Shopper_43', 'Shopper_469', 'Shopper_383', 'Shopper_416',
       'Shopper_54', 'Shopper_301', 'Shopper_374', 'Shopper_101',
       'Shopper_453', 'Shopper_417', 'Shopper_458', 'Shopper_497',
       'Shopper_39', 'Shopper_379', 'Shopper_193', 'Shopper_112',
       'Shopper_436', 'Shopper_529', 'Shopper_528', 'Shopper_40',
       'Shopper_352', 'Shopper_221', 'Shopper_128', 'Shopper_232',
       'Shopper_357', 'Shopper_176', 'Shopper_541', 'Shopper_134',
       'Shopper_472', 'Shopper_429', 'Shopper_234', 'Shopper_283',
       'Shopper_38', 'Shopper_214', 'Shopper_336', 'Shopper_452',
       'Shopper_513', 'Shopper_394', 'Shopper_235', 'Shopper_421',
       'Shopper_567', 'Shopper_562', 'Shopper_89', 'Shopper_7',
       'Shopper_303', 'Shopper_290', 'Shopper_322', 'Shopper_321',
       'Shopper_369', 'Shopper_542', 'Shopper_323', 'Shopper_139',
       'Shopper_341', 'Shopper_269', 'Shopper_302', 'Shopper_351',
       'Shopper_44', 'Shopper_5', 'Shopper_199', 'Shopper_88',
       'Shopper_151', 'Shopper_103', 'Shopper_267', 'Shopper_522',
       'Shopper_247', 'Shopper_470', 'Shopper_358', 'Shopper_254',
       'Shopper_42', 'Shopper_170', 'Shopper_206', 'Shopper_362',
       'Shopper_348', 'Shopper_367', 'Shopper_207', 'Shopper_408',
       'Shopper_514', 'Shopper_414', 'Shopper_110', 'Shopper_172',
       'Shopper_422', 'Shopper_168', 'Shopper_400', 'Shopper_298',
       'Shopper_563', 'Shopper_183', 'Shopper_182', 'Shopper_474',
       'Shopper_504', 'Shopper_57', 'Shopper_494', 'Shopper_549',
       'Shopper_455', 'Shopper_79', 'Shopper_253', 'Shopper_392',
       'Shopper_312', 'Shopper_138', 'Shopper_445', 'Shopper_142',
       'Shopper_534', 'Shopper_222', 'Shopper_349', 'Shopper_185',
       'Shopper_219', 'Shopper_67', 'Shopper_372', 'Shopper_305',
       'Shopper_210', 'Shopper_12', 'Shopper_146', 'Shopper_275',
       'Shopper_220', 'Shopper_413', 'Shopper_171', 'Shopper_442',
       'Shopper_480', 'Shopper_130', 'Shopper_403', 'Shopper_409',
       'Shopper_313', 'Shopper_565', 'Shopper_15', 'Shopper_9',
       'Shopper_393', 'Shopper_345', 'Shopper_14', 'Shopper_438',
       'Shopper_75', 'Shopper_153', 'Shopper_463', 'Shopper_337',
       'Shopper_86', 'Shopper_49', 'Shopper_123', 'Shopper_537',
       'Shopper_388', 'Shopper_386', 'Shopper_198', 'Shopper_308',
       'Shopper_104', 'Shopper_238', 'Shopper_335', 'Shopper_297',
       'Shopper_23', 'Shopper_434', 'Shopper_401', 'Shopper_217',
       'Shopper_136', 'Shopper_200', 'Shopper_443', 'Shopper_26',
       'Shopper_107', 'Shopper_507', 'Shopper_237', 'Shopper_355',
       'Shopper_338', 'Shopper_100', 'Shopper_201', 'Shopper_526',
       'Shopper_46', 'Shopper_288', 'Shopper_382', 'Shopper_11',
       'Shopper_125', 'Shopper_165', 'Shopper_399', 'Shopper_231',
       'Shopper_118', 'Shopper_70', 'Shopper_230', 'Shopper_179',
       'Shopper_476', 'Shopper_547', 'Shopper_329', 'Shopper_257',
       'Shopper_532', 'Shopper_65', 'Shopper_228', 'Shopper_396',
       'Shopper_271', 'Shopper_188', 'Shopper_127', 'Shopper_304',
       'Shopper_498', 'Shopper_407', 'Shopper_167', 'Shopper_261',
       'Shopper_191', 'Shopper_292', 'Shopper_397', 'Shopper_248',
       'Shopper_424', 'Shopper_169', 'Shopper_282', 'Shopper_175',
       'Shopper_149', 'Shopper_148', 'Shopper_113', 'Shopper_63',
       'Shopper_192', 'Shopper_502', 'Shopper_97', 'Shopper_162',
       'Shopper_276', 'Shopper_376', 'Shopper_119', 'Shopper_555',
       'Shopper_6', 'Shopper_346', 'Shopper_266', 'Shopper_552',
       'Shopper_291', 'Shopper_94', 'Shopper_496', 'Shopper_19',
       'Shopper_540', 'Shopper_195', 'Shopper_81', 'Shopper_368',
       'Shopper_258', 'Shopper_293', 'Shopper_74', 'Shopper_324',
       'Shopper_539', 'Shopper_326', 'Shopper_427', 'Shopper_456',
       'Shopper_381', 'Shopper_244', 'Shopper_411', 'Shopper_395',
       'Shopper_354', 'Shopper_50', 'Shopper_523'], dtype=object)

In [81]:
# for i in Ping_info.Shopper_ID.unique():
    
#     ser.loc["i"].iloc[0].name
di=dict((i,ser.loc[i].iloc[0].name) for i in (Ping_info.Shopper_ID.unique()))
dii=dict((i,ser.loc[i].iloc[0][0]) for i in (Ping_info.Shopper_ID.unique()))

In [85]:
acc=pd.Series(di,name="shops")
acc.index.name="Shopper"
acc

Shopper
Shopper_1           Bloomingdale's
Shopper_10          Bloomingdale's
Shopper_100         Bloomingdale's
Shopper_101         Bloomingdale's
Shopper_102         Bloomingdale's
Shopper_103         Bloomingdale's
Shopper_104         Bloomingdale's
Shopper_105         Bloomingdale's
Shopper_106           Cafe Bellini
Shopper_107         Bloomingdale's
Shopper_108                Kiehl's
Shopper_109         Bloomingdale's
Shopper_11          Bloomingdale's
Shopper_110         Bloomingdale's
Shopper_111         Bloomingdale's
Shopper_112         Bloomingdale's
Shopper_113         Bloomingdale's
Shopper_114         Bloomingdale's
Shopper_115         Bloomingdale's
Shopper_116             M.Y. China
Shopper_117    Warriors Team Store
Shopper_118         Bloomingdale's
Shopper_119                  Razer
Shopper_12          Bloomingdale's
Shopper_120         Bloomingdale's
Shopper_121         Bloomingdale's
Shopper_122         Bloomingdale's
Shopper_123         Bloomingdale's
Shopper_124                Kiehl's
Shopper_125         Bloomingdale's
                      ...
Shopper_72          Bloomingdale's
Shopper_73          Bloomingdale's
Shopper_74          Bloomingdale's
Shopper_75          Bloomingdale's
Shopper_76                 Kiehl's
Shopper_77          Bloomingdale's
Shopper_78       Forever Flawless
Shopper_79          Bloomingdale's
Shopper_8                  Kiehl's
Shopper_80          Bloomingdale's
Shopper_81          Bloomingdale's
Shopper_82          Bloomingdale's
Shopper_83          Bloomingdale's
Shopper_84          Bloomingdale's
Shopper_85           Champs Sports
Shopper_86          Bloomingdale's
Shopper_87          Bloomingdale's
Shopper_88          Bloomingdale's
Shopper_89          Bloomingdale's
Shopper_9           Bloomingdale's
Shopper_90                 Kiehl's
Shopper_91          Bloomingdale's
Shopper_92            Cafe Bellini
Shopper_93          Bloomingdale's
Shopper_94                 Kiehl's
Shopper_95                 Kiehl's
Shopper_96          Bloomingdale's
Shopper_97          Bloomingdale's
Shopper_98                 Kiehl's
Shopper_99          Bloomingdale's
Name: shops, Length: 567, dtype: object

In [84]:
ar=pd.DataFrame(acc)
ar.reset_index([range(len(di))],drop=False,inplace=True)
de=dict((i,j) for i,j in zip(Category_map.Store_Name,Category_map.Fine_Category))
ar["Fine_Category"]=ar.shops.map(de)
ar["num"]=pd.to_numeric(ar.Shopper.str.split("_").str[1])
rd=ar.sort_values("num")
rd.set_index("num",inplace=True,drop=True)
rd.head()

KeyError: 'Level range(0, 567) must be same as name (Shopper)'

In [25]:
rd.to_csv("C:\\Users\\RAMAN\\Desktop\\catii.csv")

In [26]:
rd.head()

       Shopper           shops      Fine_Category
num
1    Shopper_1  Bloomingdale's  Department Stores
2    Shopper_2  Bloomingdale's  Department Stores
3    Shopper_3  Bloomingdale's  Department Stores
4    Shopper_4  Bloomingdale's  Department Stores
5    Shopper_5  Bloomingdale's  Department Stores

In [ ]:
Demo.drop("Unnamed: 0",axis=1,inplace=True)
Demo.head()

In [28]:
demo_final=pd.merge(Demo,rd,left_on=["Shopper_Id"],right_on=["Shopper"])

,Shopper_Id,ID,Age,Gender,Marital_Status,Owns_Home,Number_of_Children_under_18_years_of_age,Shopper,shops,Fine_Category
0,Shopper_1,831b9564-99d7-3b57-a9c0-3ac1f31560d5,23,F,D,N,1,Shopper_1,Bloomingdale's,Department Stores
1,Shopper_2,1bd5093b-5a76-3ccc-b0d2-37695a858a95,42,F,M,N,1,Shopper_2,Bloomingdale's,Department Stores
2,Shopper_3,d08139f8-c50d-3472-adf8-6dcc4724164c,51,F,M,N,1,Shopper_3,Bloomingdale's,Department Stores
3,Shopper_4,29b285af-f631-3100-9a4e-5de09df7f974,35,F,D,N,2,Shopper_4,Bloomingdale's,Department Stores
4,Shopper_5,63fc3248-9900-3074-b887-c6ed6d73d0e3,42,M,S,N,0,Shopper_5,Bloomingdale's,Department Stores

In [35]:
ss.drop(["ID","Shopper"],axis=1,inplace=True)

In [36]:
ss.head()

,Shopper_Id,Age,Gender,Marital_Status,Owns_Home,Number_of_Children_under_18_years_of_age,shops,Fine_Category
0,Shopper_1,23,F,D,N,1,Bloomingdale's,Department Stores
1,Shopper_2,42,F,M,N,1,Bloomingdale's,Department Stores
2,Shopper_3,51,F,M,N,1,Bloomingdale's,Department Stores
3,Shopper_4,35,F,D,N,2,Bloomingdale's,Department Stores
4,Shopper_5,42,M,S,N,0,Bloomingdale's,Department Stores

In [50]:
ss.describe(include="all")

,Shopper_Id,Age,Gender,Marital_Status,Owns_Home,Number_of_Children_under_18_years_of_age,shops,Fine_Category
count,567,567.000000,567,567,567,567.000000,567,567
unique,567,NaN,2,3,2,NaN,16,9
top,Shopper_427,NaN,M,M,Y,NaN,Bloomingdale's,Department Stores
freq,1,NaN,300,304,342,NaN,484,484
mean,NaN,49.148148,NaN,NaN,NaN,0.474427,NaN,NaN
std,NaN,16.056303,NaN,NaN,NaN,0.922222,NaN,NaN
min,NaN,19.000000,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,36.500000,NaN,NaN,NaN,0.000000,NaN,NaN
50%,NaN,49.000000,NaN,NaN,NaN,0.000000,NaN,NaN
75%,NaN,61.000000,NaN,NaN,NaN,1.000000,NaN,NaN
max,NaN,93.000000,NaN,NaN,NaN,5.000000,NaN,NaN

In [52]:
ss[ss.shops=="Bloomingdale's"].describe(include="all")

,Shopper_Id,Age,Gender,Marital_Status,Owns_Home,Number_of_Children_under_18_years_of_age,shops,Fine_Category
count,484,484.000000,484,484,484,484.000000,484,484
unique,484,NaN,2,3,2,NaN,1,1
top,Shopper_427,NaN,M,M,Y,NaN,Bloomingdale's,Department Stores
freq,1,NaN,254,248,293,NaN,484,484
mean,NaN,49.154959,NaN,NaN,NaN,0.471074,NaN,NaN
std,NaN,16.349912,NaN,NaN,NaN,0.933165,NaN,NaN
min,NaN,19.000000,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,36.000000,NaN,NaN,NaN,0.000000,NaN,NaN
50%,NaN,49.000000,NaN,NaN,NaN,0.000000,NaN,NaN
75%,NaN,61.000000,NaN,NaN,NaN,1.000000,NaN,NaN
max,NaN,93.000000,NaN,NaN,NaN,5.000000,NaN,NaN

In [53]:
ss[ss.shops=="Bloomingdale's"].Number_of_Children_under_18_years_of_age.value_counts()

0    349
1     81
2     29
3     15
4      6
5      4
Name: Number_of_Children_under_18_years_of_age, dtype: int64

In [54]:
ss[ss.shops=="Bloomingdale's"].Marital_Status.value_counts()

M    248
S    200
D     36
Name: Marital_Status, dtype: int64

In [55]:
ss[ss.shops=="Bloomingdale's"].Owns_Home.value_counts()

Y    293
N    191
Name: Owns_Home, dtype: int64

In [56]:
ss[ss.shops=="Bloomingdale's"].Gender.value_counts()

M    254
F    230
Name: Gender, dtype: int64

In [86]:
%matplotlib inline
ss[ss.shops=="Bloomingdale's"].Age.value_counts().plot(kind="bar")
ss[ss.shops=="Bloomingdale's"].Age.value_counts().sort_index().plot(kind="bar")
ss[ss.shops=="Bloomingdale's"].describe(include="all")

NameError: name 'ss' is not defined

In [75]:
Store_map[Store_map.Store_Name=="Bloomingdale's"]

,Store_Name,Floor_name,Floor_Index,latitude,longitude,total_dist
35,Bloomingdale's,Concourse Level,0,37.783887,-122.405783,0.072432
50,Bloomingdale's,Level 1,1,37.784020,-122.405965,0.061408
105,Bloomingdale's,Level 2,2,37.783852,-122.405805,0.071739
139,Bloomingdale's,Level 3,3,37.783745,-122.405601,0.084360
159,Bloomingdale's,Level 4/N1,4,37.783802,-122.405736,0.076212

# relation between x,y and latitude and longitude

In [81]:
Ping_info.head(1)

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.72229,2016-11-22T02:16:06.000Z,4

In [83]:
from sklearn.linear_model import LinearRegression
lr_x=LinearRegression()
lr_x.fit(Ping_info[["lat","lng"]],Ping_info.x)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [87]:
pred=lr_x.predict(Ping_info[["lat","lng"]])

In [92]:
dicc={"actual":Ping_info.x,"predict":pred}
lrr=pd.DataFrame(dicc)
lrr["sq_error"]=(lrr.actual-lrr.predict)**2
lrr.sq_error.sum()

1523471028668.886

In [93]:
from sklearn.linear_model import Ridge
lr_x=Ridge(alpha=0.01)
lr_x.fit(Ping_info[["lat","lng"]],Ping_info.x)

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [94]:
pred=lr_x.predict(Ping_info[["lat","lng"]])

In [95]:
dicc={"actual":Ping_info.x,"predict":pred}
lrr=pd.DataFrame(dicc)
lrr["sq_error"]=(lrr.actual-lrr.predict)**2
lrr.sq_error.sum()

1523471072357.8325

In [109]:
from sklearn.neural_network import MLPRegressor
clf = MLPRegressor(alpha=0)

clf.fit(Ping_info[["lat","lng"]],Ping_info.x)

C:\Users\RAMAN\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

MLPRegressor(activation='relu', alpha=0, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [110]:
pred=clf.predict(Ping_info[["lat","lng"]])

In [111]:
dicc={"actual":Ping_info.x,"predict_nn":pred}
lrr=pd.DataFrame(dicc)
lrr["sq_error"]=(lrr.actual-lrr.predict_nn)**2
lrr.sq_error.sum()

6994638647178739.0

# conversion to coordinate system

In [46]:
R=6371
def x_coor(lat,lon):
    return 6371 * cos(math.radians(lat)) * cos(math.radians(lon))
#x=lambda lat,lon:6371 * cos(math.radians(lat)) * cos(math.radians(lon))
def y_coor(lat,lon):
    return 6371 * cos(math.radians(lat)) * sin(math.radians(lon))
def z_coor(lat):
    return 6371 *sin(math.radians(lat))

In [47]:
Ping_info.head()

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z,4
1,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z,1
2,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z,4
3,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z,0
4,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z,2

In [51]:
new_ping['new_X'] = list(map(x,new_ping.lat,new_ping.lng))

NameError: name 'x' is not defined

In [45]:
new_ping.head()

NameError: name 'new_ping' is not defined

In [157]:
new_ping[(new_ping.x<50) & (new_ping.x>-100)& (new_ping.y<100) & (new_ping.y>-100)]

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,total_dist,new_X
26583,Shopper_56,Concourse,37.782070,-122.405870,21.511607,-75.248365,2017-02-06T00:24:43.000Z,0,-2698.483830,-2698.483830
34977,Shopper_16,Floor 4,37.782165,-122.405639,47.970783,-66.793048,2017-04-08T18:39:22.000Z,4,-2698.463196,-2698.463196
77367,Shopper_278,Concourse,37.782448,-122.405894,49.457816,-43.758229,2017-03-14T22:32:41.000Z,0,-2698.471819,-2698.471819
90522,Shopper_409,Concourse,37.782596,-122.406176,43.309781,-14.647790,2017-01-26T00:28:04.000Z,0,-2698.487359,-2698.487359

In [159]:
new_ping[(new_ping.x<5) & (new_ping.x>-10)]

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,total_dist,new_X
1414,Shopper_342,Floor 1,37.776226,-122.398998,4.582766,-958.455498,2016-12-23T04:19:35.000Z,1,-2698.187253,-2698.187253
1930,Shopper_56,Floor 1,37.777836,-122.401223,-9.374036,-693.863961,2017-02-06T00:28:13.000Z,1,-2698.293581,-2698.293581
6755,Shopper_233,Concourse,37.773052,-122.395035,-2.179867,-1457.086417,2017-05-25T19:22:55.000Z,0,-2698.008966,-2698.008966
7232,Shopper_368,Concourse,37.786269,-122.411518,-5.173163,605.338227,2017-04-04T20:47:44.000Z,0,-2698.749515,-2698.749515
7419,Shopper_60,Concourse,37.775759,-122.398520,-9.656762,-1027.939046,2017-02-08T22:53:07.000Z,0,-2698.168833,-2698.168833
9960,Shopper_315,Floor 1,37.779414,-122.403060,-1.535891,-455.631386,2017-01-29T23:15:49.000Z,1,-2698.372314,-2698.372314
10128,Shopper_17,Floor 3,37.779066,-122.402609,0.146392,-510.127847,2017-01-12T22:30:06.000Z,3,-2698.351505,-2698.351505
10332,Shopper_433,Floor 1,37.778581,-122.402098,-6.176601,-580.924262,2017-01-15T21:58:25.000Z,1,-2698.331338,-2698.331338
12176,Shopper_113,Concourse,37.776745,-122.399531,3.836279,-887.568733,2017-01-24T23:57:45.000Z,0,-2698.207842,-2698.207842
15526,Shopper_268,Floor 1,37.775901,-122.398727,-3.679147,-1000.871442,2017-03-11T01:49:21.000Z,1,-2698.178950,-2698.178950
15842,Shopper_278,Floor 2,37.779170,-122.402899,-6.413791,-483.291941,2017-04-03T22:08:06.000Z,2,-2698.369251,-2698.369251
19704,Shopper_508,Concourse,37.777699,-122.400851,-4.519549,-730.596095,2017-05-18T01:21:09.000Z,0,-2698.270991,-2698.270991
20572,Shopper_462,Concourse,37.772674,-122.394599,-4.273349,-1513.873632,2017-06-10T21:09:04.000Z,0,-2697.990374,-2697.990374
21173,Shopper_53,Concourse,37.780519,-122.404239,2.837352,-298.538352,2017-04-15T17:11:40.000Z,0,-2698.419482,-2698.419482
22083,Shopper_347,Floor 1,37.779522,-122.403233,-3.964382,-436.490466,2017-04-16T03:09:40.000Z,1,-2698.381188,-2698.381188
24495,Shopper_17,Floor 3,37.779157,-122.402698,1.685140,-497.471117,2017-01-12T22:30:05.000Z,3,-2698.354849,-2698.354849
27481,Shopper_278,Floor 1,37.779563,-122.403218,0.168887,-434.111920,2017-04-03T22:08:21.000Z,1,-2698.378596,-2698.378596
27752,Shopper_462,Concourse,37.773350,-122.395357,0.880836,-1413.603576,2017-06-10T19:58:50.000Z,0,-2698.021990,-2698.021990
30576,Shopper_81,Concourse,37.776595,-122.399464,-3.660800,-903.523584,2017-01-31T22:48:45.000Z,0,-2698.208377,-2698.208377
32581,Shopper_208,Concourse,37.786314,-122.411454,2.289680,604.941924,2017-03-24T02:04:56.000Z,0,-2698.743157,-2698.743157
33589,Shopper_278,Floor 2,37.779215,-122.402936,-5.275404,-477.481149,2017-04-03T22:08:17.000Z,2,-2698.370380,-2698.370380
34241,Shopper_546,Floor 3,37.778336,-122.401745,-3.595005,-621.220835,2017-01-02T22:19:53.000Z,3,-2698.314049,-2698.314049
35091,Shopper_132,Concourse,37.786335,-122.411651,-8.409847,618.754996,2017-05-01T00:14:29.000Z,0,-2698.757006,-2698.757006
36209,Shopper_431,Floor 4,37.776964,-122.399691,1.906714,-844.516370,2017-01-22T21:10:07.000Z,4,-2698.211680,-2698.211680
36316,Shopper_222,Floor 2,37.779201,-122.402961,-7.854469,-477.066227,2016-11-30T02:58:18.000Z,2,-2698.372680,-2698.372680
38450,Shopper_56,Concourse,37.776931,-122.399796,1.731280,-856.412201,2017-02-06T00:28:38.000Z,0,-2698.220752,-2698.220752
38910,Shopper_347,Concourse,37.776076,-122.398682,4.894870,-992.810750,2017-02-13T18:54:21.000Z,0,-2698.169292,-2698.169292
39183,Shopper_180,Floor 1,37.780323,-122.404301,-8.475985,-307.283841,2016-12-28T19:23:12.000Z,1,-2698.431180,-2698.431180
43756,Shopper_471,Floor 1,37.779565,-122.403222,0.088455,-433.692914,2017-02-03T04:41:44.000Z,1,-2698.378813,-2698.378813
48175,Shopper_419,Floor 3,37.778877,-122.402453,-5.103121,-534.687581,2017-01-05T20:14:37.000Z,3,-2698.346897,-2698.346897
48924,Shopper_24,Floor 4,37.777695,-122.400687,-1.514291,-725.232871,2017-01-13T01:32:42.000Z,4,-2698.258932,-2698.258932
50497,Shopper_16,Concourse,37.776976,-122.399917,-2.326781,-845.434156,2017-04-08T18:59:49.000Z,0,-2698.228057,-2698.228057
52559,Shopper_172,Floor 1,37.785413,-122.410498,-0.157062,477.726703,2017-04-26T21:54:30.000Z,1,-2698.705099,-2698.705099
53414,Shopper_131,Concourse,37.776782,-122.399695,-3.573875,-874.535800,2017-01-23T23:29:05.000Z,0,-2698.218679,-2698.218679
54538,Shopper_520,Floor 1,37.776320,-122.399171,1.041491,-940.320561,2017-05-20T20:19:51.000Z,1,-2698.196696,-2698.196696
54976,Shopper_431,Floor 2,37.779765,-122.403520,1.073829,-397.934294,2017-01-22T22:08:39.000Z,2,-2698.393564,-2698.393564
55459,Shopper_457,Floor 3,37.756883,-122.374586,-2.660458,-3993.734212,2017-04-30T00:28:10.000Z,3,-2697.080728,-2697.080728
61331,Shopper_347,Floor 1,37.779403,-122.403141,-7.458804,-451.539988,2017-04-16T03:09:26.000Z,1,-2698.378715,-2698.378715
61502,Shopper_283,Floor 3,37.778938,-122.402609,-9.950978,-520.246345,2017-02-16T19:27:04.000Z,3,-2698.356192,-2698.356192
65897,Shopper_283,Floor 3,37.779468,-122.403233,-7.090569,-439.850948,2017-02-16T19:27:40.000Z,3,-2698.383172,-2698.383172
70265,Shopper_278,Floor 1,37.779247,-122.402963,-8.461036,-474.891063,2017-04-03T22:08:20.000Z,1,-2698.371193,-2698.371193
70476,Shopper_278,Floor 3,37.779544,-122.403202,0.825894,-435.794424,2017-04-03T22:08:21.000Z,3,-2698.378084,-2698.378084
70689,Shopper_88,Concourse,37.776484,-122.399413,-9.120482,-915.441292,2017-05-25T01:37:42.000Z,0,-2698.208656,-2698.208656
77714,Shopper_431,Floor 2,37.779431,-122.403229,-6.794786,-442.303629,2017-01-22T22:08:59.000Z,2,-2698.384237,-2698.384237
82632,Shopper_368,Concourse,37.786182,-122.411276,3.156788,583.584822,2017-04-04T20:47:20.000Z,0,-2698.734794,-2698.734794
87305,Shopper_56,Concourse,37.780709,-122.404564,-2.734062,-263.481358,2017-02-06T00:25:12.000Z,0,-2698.436666,-2698.436666
88488,Shopper_419,Floor 2,37.778741,-122.402342,-4.979999,-551.689545,2017-01-05T20:13:43.000Z,2,-2698.343577,-2698.343577
88972,Shopper_546,Floor 2,37.778311,-122.401719,0.554659,-624.014311,2017-01-02T22:20:00.000Z,2,-2698.313084,-2698.313084
90202,Shopper_211,Concourse,37.786762,-122.411984,3.979912,673.151237,2016-10-26T22:09:17.000Z,0,-2698.766144,-2698.766144
94781,Shopper_56,Concourse,37.778358,-122.401618,-1.300184,-631.199192,2017-02-06T00:27:23.000Z,0,-2698.303880,-2698.303880
95366,Shopper_36,Floor 1,37.778651,-122.402194,-6.710332,-569.437073,2016-12-23T22:16:43.000Z,1,-2698.335900,-2698.335900
96657,Shopper_419,Floor 2,37.778663,-122.402265,-6.239656,-562.530503,2017-01-05T20:14:25.000Z,2,-2698.340752,-2698.340752
99507,Shopper_56,Concourse,37.778330,-122.401602,-2.414464,-634.415309,2017-02-06T00:28:08.000Z,0,-2698.303658,-2698.303658
102496,Shopper_36,Floor 1,37.778653,-122.402195,-6.680492,-569.248040,2016-12-23T22:16:43.000Z,1,-2698.335938,-2698.335938
102543,Shopper_287,Concourse,37.775306,-122.397869,-4.131950,-1103.934112,2017-04-13T03:32:49.000Z,0,-2698.137029,-2698.137029
102871,Shopper_462,Concourse,37.774117,-122.396246,4.906356,-1298.112443,2017-06-10T19:45:54.000Z,0,-2698.059983,-2698.059983
105619,Shopper_520,Floor 2,37.776308,-122.399160,4.860271,-940.331390,2017-05-20T20:20:12.000Z,2,-2698.196283,-2698.196283
105991,Shopper_129,Concourse,37.777850,-122.400944,1.378684,-712.929076,2017-02-07T22:24:06.000Z,0,-2698.272396,-2698.272396

In [160]:
new_ping["dist_origin"]=new_ping.x**2+new_ping.y**2

In [161]:
new_ping["dist_origin"].idxmin()

90522

# let the latitude and longitude of origin be 37.782596 , -122.406176

In [165]:
new_ping.drop(["total_dist","dist_origin"],axis=1,inplace=True)

In [167]:
new_ping.head(1)

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,new_X
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.72229,2016-11-22T02:16:06.000Z,4,-2694.909703

In [171]:
new_ping['new_Y'] = list(map(y_coor,new_ping.lat,new_ping.lng))

In [172]:
new_ping['new_Z'] = list(map(z_coor,new_ping.lat))

In [174]:
new_ping.head()

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,new_X,new_Y,new_Z
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z,4,-2694.909703,-4263.144246,3892.647407
1,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z,1,-2698.490732,-4251.002253,3903.430365
2,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z,4,-2698.462471,-4250.996053,3903.456654
3,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z,0,-2698.476643,-4250.988666,3903.454901
4,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z,2,-2698.519374,-4250.987685,3903.426430

In [175]:
# calculating the x,y,z coords of the origin 
xx=x_coor(37.782596 , -122.406176)
yy=y_coor(37.782596 , -122.406176)
zz=z_coor(37.782596)

In [176]:
print(xx,yy,zz)

-2698.4873386260774 -4251.122712012197 3903.3015218771943

In [177]:
new_ping['rel_x'] = new_ping.new_X-xx
new_ping['rel_y'] = new_ping.new_Y-yy
new_ping['rel_z'] = new_ping.new_Z-zz

In [178]:
new_ping

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,new_X,new_Y,new_Z,rel_x,rel_y,rel_z
0,Shopper_556,Floor 4,37.661463,-122.298673,-2.934558e+03,-1.616972e+04,2016-11-22T02:16:06.000Z,4,-2694.909703,-4263.144246,3892.647407,3.577636,-12.021534,-10.654115
1,Shopper_556,Floor 1,37.784062,-122.406943,1.172625e+02,1.518238e+02,2016-12-23T22:01:25.000Z,1,-2698.490732,-4251.002253,3903.430365,-0.003394,0.120459,0.128843
2,Shopper_556,Floor 4,37.784361,-122.406710,1.561251e+02,1.713572e+02,2016-11-22T01:42:28.000Z,4,-2698.462471,-4250.996053,3903.456654,0.024867,0.126659,0.155132
3,Shopper_360,Concourse,37.784341,-122.406891,1.344997e+02,1.676744e+02,2016-10-13T18:27:38.000Z,0,-2698.476643,-4250.988666,3903.454901,0.010695,0.134046,0.153379
4,Shopper_360,Floor 2,37.784017,-122.407307,9.498169e+01,1.722692e+02,2016-10-12T21:36:18.000Z,2,-2698.519374,-4250.987685,3903.426430,-0.032035,0.135027,0.124908
5,Shopper_420,Floor 4,37.661624,-122.298459,-2.908687e+03,-1.617058e+04,2016-12-19T01:31:08.000Z,4,-2694.887987,-4263.145065,3892.661544,3.599352,-12.022353,-10.639978
6,Shopper_420,Floor 1,37.783856,-122.407092,9.186057e+01,1.446519e+02,2016-12-19T01:36:10.000Z,1,-2698.509318,-4251.007097,3903.412241,-0.021979,0.115615,0.110719
7,Shopper_245,Floor 2,37.783970,-122.407194,9.838965e+01,1.615519e+02,2016-10-14T03:02:55.000Z,2,-2698.512702,-4250.995736,3903.422274,-0.025363,0.126976,0.120752
8,Shopper_334,Floor 2,37.783828,-122.406986,1.003072e+02,1.374774e+02,2017-03-18T03:25:59.000Z,2,-2698.502492,-4251.013710,3903.409758,-0.015153,0.109002,0.108236
9,Shopper_205,Floor 1,37.784219,-122.406896,1.324179e+02,1.613389e+02,2017-06-06T20:33:31.000Z,1,-2698.481518,-4250.995461,3903.444132,0.005820,0.127251,0.142610
10,Shopper_205,Concourse,37.784638,-122.406411,1.876741e+02,1.616688e+02,2017-06-06T01:28:51.000Z,0,-2698.430215,-4250.994185,3903.480987,0.057124,0.128527,0.179465
11,Shopper_530,Floor 1,35.085149,-113.663734,3.376118e+05,-7.520261e+05,2017-03-08T23:50:12.000Z,1,-2092.485018,-4775.023592,3662.007257,606.002321,-523.900880,-241.294265
12,Shopper_530,Concourse,36.541271,-118.435462,1.520991e+05,-3.428527e+05,2017-01-28T00:07:15.000Z,0,-2437.335871,-4501.097575,3793.304031,261.151468,-249.974863,-109.997490
13,Shopper_359,Concourse,37.783961,-122.407034,9.592117e+01,1.463724e+02,2017-05-20T18:34:46.000Z,0,-2698.501151,-4251.003776,3903.421504,-0.013812,0.118936,0.119982
14,Shopper_189,Concourse,35.239976,-114.220990,3.147539e+05,-7.054506e+05,2017-01-17T23:56:19.000Z,0,-2134.759372,-4745.404799,3676.081707,563.727966,-494.282087,-227.219815
15,Shopper_189,Concourse,37.784049,-122.407055,1.014708e+02,1.545847e+02,2017-01-17T02:40:49.000Z,0,-2698.499469,-4250.997765,3903.429212,-0.012131,0.124947,0.127690
16,Shopper_189,Concourse,37.784084,-122.407044,1.048638e+02,1.567499e+02,2017-01-17T01:57:58.000Z,0,-2698.497416,-4250.996220,3903.432314,-0.010078,0.126492,0.130792
17,Shopper_481,Floor 2,35.265054,-114.246672,3.151111e+05,-7.018778e+05,2017-04-11T22:10:26.000Z,2,-2136.225266,-4742.979919,3678.358886,562.262073,-491.857207,-224.942635
18,Shopper_155,Floor 4,37.784287,-122.406954,1.352079e+02,1.808558e+02,2017-06-13T17:38:20.000Z,4,-2698.483289,-4250.988837,3903.450121,0.004050,0.133875,0.148599
19,Shopper_155,Floor 1,36.980523,-119.811229,1.001365e+05,-2.233378e+05,2017-06-13T18:21:23.000Z,1,-2530.169731,-4415.918285,3832.433669,168.317607,-164.795573,-70.867853
20,Shopper_155,Floor 4,37.759561,-122.385293,-4.912245e+02,-3.102102e+03,2017-06-13T18:42:51.000Z,4,-2697.777997,-4253.430828,3901.276851,0.709341,-2.308116,-2.024671
21,Shopper_287,Concourse,37.656648,-122.006913,1.524481e+04,-3.457726e+04,2017-04-13T04:10:15.000Z,0,-2673.339573,-4277.089205,3892.223588,25.147766,-25.966493,-11.077934
22,Shopper_536,Floor 2,34.031987,-110.253652,4.692078e+05,-1.045435e+06,2017-06-12T18:34:39.000Z,2,-1827.747540,-4953.354189,3565.566184,870.739799,-702.231477,-337.735338
23,Shopper_344,Floor 2,37.784028,-122.407106,1.083780e+02,1.607393e+02,2017-01-24T21:49:27.000Z,2,-2698.504093,-4250.996538,3903.427352,-0.016754,0.126174,0.125830
24,Shopper_41,Floor 2,33.504061,-108.734063,5.232811e+05,-1.180830e+06,2017-01-14T00:43:34.000Z,2,-1706.227719,-5030.981760,3516.767052,992.259620,-779.859048,-386.534470
25,Shopper_41,Floor 3,37.783814,-122.407127,9.255912e+01,1.435501e+02,2017-01-14T01:09:42.000Z,3,-2698.513471,-4251.007868,3903.408530,-0.026132,0.114844,0.107009
26,Shopper_122,Floor 4,36.066776,-116.842850,2.065314e+05,-4.821700e+05,2017-01-07T02:32:22.000Z,4,-2325.402076,-4594.971436,3750.784410,373.085263,-343.848724,-152.517112
27,Shopper_51,Concourse,37.720868,-122.343518,-8.396494e+02,-8.764928e+03,2017-05-14T01:33:11.000Z,0,-2696.084936,-4257.621579,3897.874487,2.402403,-6.498867,-5.427035
28,Shopper_51,Floor 1,35.265134,-114.246611,3.151168e+05,-7.018766e+05,2016-10-13T19:57:16.000Z,1,-2136.218145,-4742.977528,3678.366105,562.269194,-491.854816,-224.935417
29,Shopper_68,Floor 1,37.783840,-122.407236,8.162835e+01,1.523024e+02,2017-02-03T17:50:55.000Z,1,-2698.520580,-4251.001193,3903.410885,-0.033241,0.121519,0.109363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107605,Shopper_454,Floor 1,37.783982,-122.406909,1.131167e+02,1.433857e+02,2017-04-26T21:34:04.000Z,1,-2698.491164,-4251.008458,3903.423308,-0.003825,0.114254,0.121787
107606,Shopper_278,Floor 3,30.227258,-97.925617,9.267271e+05,-2.114123e+06,2017-04-03T21:53:57.000Z,3,-759.038261,-5452.187461,3207.359320,1939.449077,-1201.064749,-695.942202
107607,Shopper_318,Floor 2,37.784039,-122.406977,1.173447e+02,1.536310e+02,2017-01-26T18:41:36.000Z,2,-2698.494086,-4251.002009,3903.428312,-0.006747,0.120703,0.126790
107608,Shopper_440,Concourse,37.784117,-122.407263,9.371821e+01,1.728044e+02,2016-10-03T21:08:32.000Z,0,-2698.512440,-4250.984041,3903.435192,-0.025101,0.138671,0.133670
107609,Shopper_363,Concourse,37.784069,-122.407386,8.227485e+01,1.766371e+02,2017-03-13T00:18:59.000Z,0,-2698.523339,-4250.980961,3903.431011,-0.036001,0.141751,0.129489
107610,Shopper_339,Concourse,37.783989,-122.407159,9.023642e+01,1.562743e+02,2017-02-23T00:52:58.000Z,0,-2698.509428,-4250.996286,3903.423938,-0.022090,0.126426,0.122417
107611,Shopper_47,Concourse,31.487016,-102.005697,7.876545e+05,-1.754925e+06,2017-05-13T20:47:39.000Z,0,-1130.096962,-5314.089915,3327.607284,1568.390376,-1062.967203,-575.694238
107612,Shopper_320,Floor 2,37.781113,-122.404167,6.544468e+01,-2.512720e+02,2016-10-25T02:20:21.000Z,2,-2698.392433,-4251.302635,3903.171170,0.094905,-0.179923,-0.130352
107613,Shopper_4,Floor 2,37.784046,-122.407011,1.157298e+02,1.563164e+02,2017-04-28T01:21:44.000Z,2,-2698.496388,-4250.999979,3903.428932,-0.009049,0.122733,0.127410
107614,Shopper_398,Floor 2,33.061211,-107.106029,5.907750e+05,-1.316157e+06,2016-11-06T02:22:35.000Z,2,-1570.553560,-5103.253470,3475.601607,1127.933778,-852.130758,-427.699915
107615,Shopper_154,Floor 1,37.784085,-122.406878,1.231484e+02,1.496555e+02,2017-03-02T06:11:03.000Z,1,-2698.485055,-4251.003984,3903.432404,0.002283,0.118728,0.130882
107616,Shopper_459,Concourse,37.784052,-122.407107,9.841838e+01,1.580752e+02,2016-12-17T23:29:02.000Z,0,-2698.503257,-4250.995107,3903.429489,-0.015918,0.127605,0.127967
107617,Shopper_459,Concourse,37.784471,-122.406800,1.502984e+02,1.724312e+02,2016-12-04T21:53:21.000Z,0,-2698.465191,-4250.985432,3903.466341,0.022148,0.137280,0.164819
107618,Shopper_419,Floor 2,37.743028,-122.371079,-8.283102e+02,-5.307096e+03,2017-01-05T20:23:02.000Z,2,-2697.325339,-4255.050604,3899.823249,1.162000,-3.927892,-3.478272
107619,Shopper_319,Floor 3,34.320329,-111.206542,4.235463e+05,-9.676513e+05,2017-05-14T20:49:13.000Z,3,-1903.355569,-4905.482251,3592.091656,795.131770,-654.359539,-311.209866
107620,Shopper_319,Concourse,37.784294,-122.406786,1.373888e+02,1.575364e+02,2017-05-17T23:14:14.000Z,0,-2698.470608,-4250.996277,3903.450785,0.016731,0.126435,0.149263
107621,Shopper_319,Floor 2,34.315878,-111.249350,4.289451e+05,-9.616352e+05,2017-05-16T21:17:22.000Z,2,-1907.121285,-4904.318879,3591.682856,791.366054,-653.196167,-311.618666
107622,Shopper_468,Floor 2,37.783898,-122.407144,9.590140e+01,1.528072e+02,2017-05-30T00:50:25.000Z,2,-2698.511644,-4251.002203,3903.415962,-0.024306,0.120509,0.114441
107623,Shopper_244,Floor 3,37.781999,-122.405348,6.047835e+01,-1.095482e+02,2017-05-12T00:07:30.000Z,3,-2698.447702,-4251.196033,3903.249068,0.039637,-0.073321,-0.052453
107624,Shopper_373,Floor 3,37.783965,-122.407176,1.014475e+02,1.584967e+02,2017-01-08T23:41:15.000Z,3,-2698.511554,-4250.996847,3903.421857,-0.024216,0.125865,0.120336
107625,Shopper_376,Floor 1,37.784045,-122.407060,1.086086e+02,1.576130e+02,2017-01-23T19:38:32.000Z,1,-2698.500012,-4250.997768,3903.428833,-0.012674,0.124944,0.127312
107626,Shopper_100,Concourse,35.219027,-114.115492,3.197311e+05,-7.136057e+05,2016-12-23T00:14:42.000Z,0,-2126.567167,-4750.553881,3674.178944,571.920172,-499.431169,-229.122578
107627,Shopper_100,Concourse,37.784057,-122.407213,9.215282e+01,1.650269e+02,2016-12-23T01:56:47.000Z,0,-2698.510957,-4250.989807,3903.429937,-0.023619,0.132905,0.128415
107628,Shopper_28,Floor 2,37.783934,-122.407144,9.871819e+01,1.555511e+02,2017-01-02T23:47:20.000Z,2,-2698.510286,-4251.000210,3903.419072,-0.022947,0.122502,0.117550
107629,Shopper_76,Floor 1,37.783984,-122.407237,9.273817e+01,1.637082e+02,2017-04-01T17:07:05.000Z,1,-2698.515408,-4250.992915,3903.423475,-0.028069,0.129797,0.121953
107630,Shopper_317,Floor 4,28.338261,-91.805123,1.135291e+06,-2.652681e+06,2016-11-23T21:23:45.000Z,4,-176.637034,-5604.720261,3024.161232,2521.850305,-1353.597549,-879.140290
107631,Shopper_295,Floor 4,37.784115,-122.406981,1.198997e+02,1.691729e+02,2016-11-10T19:49:25.000Z,4,-2698.491592,-4250.997441,3903.435011,-0.004253,0.125271,0.133490
107632,Shopper_460,Floor 2,36.017950,-116.704627,2.197770e+05,-4.908830e+05,2017-03-06T20:54:24.000Z,2,-2315.745730,-4603.421713,3746.394433,382.741609,-352.299001,-156.907089
107633,Shopper_190,Floor 1,37.784047,-122.407000,1.125838e+02,1.541381e+02,2016-10-09T01:15:12.000Z,1,-2698.495460,-4251.000435,3903.429077,-0.008121,0.122277,0.127555
107634,Shopper_53,Concourse,37.784078,-122.407087,1.017129e+02,1.588960e+02,2017-05-13T20:32:48.000Z,0,-2698.500807,-4250.994560,3903.431778,-0.013468,0.128152,0.130256

In [179]:
new_ping.to_csv("C:\\Users\\RAMAN\\Desktop\\newdistance.csv")

In [185]:
Store_map

,Store_Name,Floor_name,Floor_Index,latitude,longitude,total_dist
0,Jamba Juice,Concourse Level,0,37.784091,-122.406813,0.014986
1,Coriander Gourmet Thai,Concourse Level,0,37.784596,-122.406210,0.059786
2,NYS Collection,Concourse Level,0,37.784396,-122.406587,0.035041
3,Hallmark,Concourse Level,0,37.783771,-122.407377,0.026490
4,Sorabol Korean BBQ & Asian Noodles,Concourse Level,0,37.784601,-122.406328,0.054986
5,Pasta Moto,Concourse Level,0,37.784534,-122.406025,0.066001
6,Abercrombie & Fitch,Concourse Level,0,37.783944,-122.407537,0.026275
7,Fire of Brazil,Concourse Level,0,37.784447,-122.406224,0.053580
8,ProActiv Solutions,Concourse Level,0,37.784161,-122.406900,0.011703
9,Corner W,Concourse Level,0,37.784808,-122.406501,0.059731
10,Buckhorn Grill,Concourse Level,0,37.784569,-122.406141,0.061802
11,Cako Bakery,Concourse Level,0,37.784670,-122.406679,0.046573
12,Claire's Boutique,Concourse Level,0,37.784126,-122.407061,0.003594
13,Bristol Farms,Concourse Level,0,37.784159,-122.406350,0.040633
14,PacSun,Concourse Level,0,37.783959,-122.406910,0.012696
15,DAVIDsTEA,Concourse Level,0,37.784411,-122.406709,0.030903
16,Andale Mexican Restaurant,Concourse Level,0,37.784511,-122.405956,0.068628
17,Sunglass Hut,Concourse Level,0,37.784071,-122.406885,0.011039
18,Peet's Coffee & Tea,Concourse Level,0,37.784591,-122.406782,0.039157
19,Panda Express,Concourse Level,0,37.783778,-122.407161,0.021137
20,GNC,Concourse Level,0,37.784053,-122.407307,0.012147
21,New Era,Concourse Level,0,37.783893,-122.407389,0.020882
22,LEGO,Concourse Level,0,37.784222,-122.406978,0.011582
23,Mrs. Fields,Concourse Level,0,37.783953,-122.407318,0.015303
24,Beard Papa's Cream Puffs,Concourse Level,0,37.784505,-122.406555,0.041400
25,Ajisen Ramen,Concourse Level,0,37.783767,-122.407070,0.021526
26,Shoe Palace,Concourse Level,0,37.784106,-122.407189,0.005898
27,Loving Hut Vegan Cuisine,Concourse Level,0,37.784292,-122.406010,0.060646
28,Ghirardelli Ice Cream and Chocolate Shop,Concourse Level,0,37.784449,-122.406665,0.034463
29,Marbles: The Brain Store,Concourse Level,0,37.784353,-122.406773,0.025585
...,...,...,...,...,...,...
136,Lids,Level 3,3,37.784101,-122.406854,0.012818
137,iPlay n Talk,Level 3,3,37.783871,-122.407073,0.014339
138,Go! Toys and Games,Level 3,3,37.784153,-122.405871,0.066611
139,Bloomingdale's,Level 3,3,37.783745,-122.405601,0.084360
140,Fossil,Level 3,3,37.784191,-122.407111,0.007906
141,Vans,Level 3,3,37.784267,-122.405933,0.064360
142,Eyebrow Plus,Level 3,3,37.784386,-122.406589,0.034526
143,True Religion Jeans,Level 3,3,37.784540,-122.406132,0.061144
144,Finish Line,Level 3,3,37.783912,-122.407474,0.024061
145,Lucky Brand Jeans,Level 3,3,37.784663,-122.406313,0.058481
146,Bath & Body Works,Level 3,3,37.784135,-122.406406,0.037396
147,H&M,Level 3,3,37.783957,-122.406249,0.046524
148,Teavana,Level 3,3,37.783814,-122.407399,0.024978
149,Steve Madden,Level 3,3,37.784197,-122.406980,0.010075
150,Forever Flawless,Level 3,3,37.784701,-122.406758,0.046640
151,Solstice,Level 3,3,37.784360,-122.406786,0.025483
152,TAP 415,Level 4/N1,4,37.784420,-122.406832,0.027419
153,Optica,Level 4/N1,4,37.784702,-122.406248,0.062911
154,M.Y. China,Level 4/N1,4,37.784206,-122.406528,0.031778
155,Bespoke Coworking,Level 4/N1,4,37.784178,-122.405776,0.071930
156,Bespoke Events,Level 4/N1,4,37.783859,-122.406350,0.043004
157,Bose,Level 4/N1,4,37.784539,-122.406081,0.063502
158,Nordstrom,Level 4/N1,4,37.783820,-122.407311,0.021638
159,Bloomingdale's,Level 4/N1,4,37.783802,-122.405736,0.076212
160,Nordstrom,Level 5/N2,5,37.784076,-122.407307,0.012022
161,Century San Francisco Centre 9,Level 5/N2,5,37.783890,-122.405736,0.074921
162,Burke Williams Day Spa,Level 5/N2,5,37.784204,-122.406574,0.029332
163,Nordstrom,N3,6,37.784090,-122.407309,0.012158
164,Nordstrom,N4,7,37.784073,-122.407289,0.011044
165,Nordstrom,N5,8,37.784087,-122.407307,0.012037

In [186]:
Store_map["new_X"]=list(map(x_coor,Store_map.latitude,Store_map.longitude))
Store_map["new_Y"]=list(map(y_coor,Store_map.latitude,Store_map.longitude))
Store_map["new_Z"]=list(map(z_coor,Store_map.latitude))

In [187]:
Store_map

,Store_Name,Floor_name,Floor_Index,latitude,longitude,total_dist,new_X,new_Y,new_Z
0,Jamba Juice,Concourse Level,0,37.784091,-122.406813,0.014986,-2698.480018,-4251.006723,3903.432904
1,Coriander Gourmet Thai,Concourse Level,0,37.784596,-122.406210,0.059786,-2698.416840,-4251.006076,3903.477283
2,NYS Collection,Concourse Level,0,37.784396,-122.406587,0.035041,-2698.452114,-4250.999824,3903.459707
3,Hallmark,Concourse Level,0,37.783771,-122.407377,0.026490,-2698.533547,-4250.998565,3903.404782
4,Sorabol Korean BBQ & Asian Noodles,Concourse Level,0,37.784601,-122.406328,0.054986,-2698.425413,-4251.000231,3903.477723
5,Pasta Moto,Concourse Level,0,37.784534,-122.406025,0.066001,-2698.405378,-4251.018355,3903.471835
6,Abercrombie & Fitch,Concourse Level,0,37.783944,-122.407537,0.026275,-2698.539101,-4250.981079,3903.419986
7,Fire of Brazil,Concourse Level,0,37.784447,-122.406224,0.053580,-2698.423319,-4251.013987,3903.464189
8,ProActiv Solutions,Concourse Level,0,37.784161,-122.406900,0.011703,-2698.483917,-4250.998599,3903.439056
9,Corner W,Concourse Level,0,37.784808,-122.406501,0.059731,-2698.430690,-4250.980177,3903.495914
10,Buckhorn Grill,Concourse Level,0,37.784569,-122.406141,0.061802,-2698.412707,-4251.010878,3903.474911
11,Cako Bakery,Concourse Level,0,37.784670,-122.406679,0.046573,-2698.448935,-4250.979731,3903.483786
12,Claire's Boutique,Concourse Level,0,37.784126,-122.407061,0.003594,-2698.497140,-4250.993030,3903.435980
13,Bristol Farms,Concourse Level,0,37.784159,-122.406350,0.040633,-2698.443183,-4251.024618,3903.438880
14,PacSun,Concourse Level,0,37.783959,-122.406910,0.012696,-2698.492034,-4251.009747,3903.421304
15,DAVIDsTEA,Concourse Level,0,37.784411,-122.406709,0.030903,-2698.460618,-4250.993215,3903.461026
16,Andale Mexican Restaurant,Concourse Level,0,37.784511,-122.405956,0.068628,-2698.401098,-4251.022927,3903.469814
17,Sunglass Hut,Concourse Level,0,37.784071,-122.406885,0.011039,-2698.486090,-4251.004482,3903.431146
18,Peet's Coffee & Tea,Concourse Level,0,37.784591,-122.406782,0.039157,-2698.459462,-4250.979424,3903.476844
19,Panda Express,Concourse Level,0,37.783778,-122.407161,0.021137,-2698.517265,-4251.008336,3903.405397
20,GNC,Concourse Level,0,37.784053,-122.407307,0.012147,-2698.518057,-4250.985642,3903.429565
21,New Era,Concourse Level,0,37.783893,-122.407389,0.020882,-2698.529983,-4250.990983,3903.415504
22,LEGO,Concourse Level,0,37.784222,-122.406978,0.011582,-2698.487477,-4250.991417,3903.444416
23,Mrs. Fields,Concourse Level,0,37.783953,-122.407318,0.015303,-2698.522524,-4250.990876,3903.420777
24,Beard Papa's Cream Puffs,Concourse Level,0,37.784505,-122.406555,0.041400,-2698.445760,-4250.995061,3903.469286
25,Ajisen Ramen,Concourse Level,0,37.783767,-122.407070,0.021526,-2698.510915,-4251.013255,3903.404431
26,Shoe Palace,Concourse Level,0,37.784106,-122.407189,0.005898,-2698.507367,-4250.988151,3903.434222
27,Loving Hut Vegan Cuisine,Concourse Level,0,37.784292,-122.406010,0.060646,-2698.413101,-4251.032980,3903.450568
28,Ghirardelli Ice Cream and Chocolate Shop,Concourse Level,0,37.784449,-122.406665,0.034463,-2698.455966,-4250.993102,3903.464365
29,Marbles: The Brain Store,Concourse Level,0,37.784353,-122.406773,0.025585,-2698.467484,-4250.993537,3903.455929
...,...,...,...,...,...,...,...,...,...
136,Lids,Level 3,3,37.784101,-122.406854,0.012818,-2698.482694,-4251.004217,3903.433783
137,iPlay n Talk,Level 3,3,37.783871,-122.407073,0.014339,-2698.507341,-4251.007131,3903.413570
138,Go! Toys and Games,Level 3,3,37.784153,-122.405871,0.066611,-2698.407863,-4251.047522,3903.438353
139,Bloomingdale's,Level 3,3,37.783745,-122.405601,0.084360,-2698.402726,-4251.083705,3903.402497
140,Fossil,Level 3,3,37.784191,-122.407111,0.007906,-2698.498476,-4250.986936,3903.441692
141,Vans,Level 3,3,37.784267,-122.405933,0.064360,-2698.408301,-4251.038045,3903.448371
142,Eyebrow Plus,Level 3,3,37.784386,-122.406589,0.034526,-2698.452627,-4251.000305,3903.458829
143,True Religion Jeans,Level 3,3,37.784540,-122.406132,0.061144,-2698.413098,-4251.012970,3903.472362
144,Finish Line,Level 3,3,37.783912,-122.407474,0.024061,-2698.535595,-4250.985887,3903.417173
145,Lucky Brand Jeans,Level 3,3,37.784663,-122.406313,0.058481,-2698.422036,-4250.997371,3903.483171
146,Bath & Body Works,Level 3,3,37.784135,-122.406406,0.037396,-2698.448214,-4251.023361,3903.436771
147,H&M,Level 3,3,37.783957,-122.406249,0.046524,-2698.443064,-4251.040993,3903.421128
148,Teavana,Level 3,3,37.783814,-122.407399,0.024978,-2698.533609,-4250.995056,3903.408561
149,Steve Madden,Level 3,3,37.784197,-122.406980,0.010075,-2698.488538,-4250.992761,3903.442219
150,Forever Flawless,Level 3,3,37.784701,-122.406758,0.046640,-2698.453665,-4250.974227,3903.486511
151,Solstice,Level 3,3,37.784360,-122.406786,0.025483,-2698.468193,-4250.992522,3903.456544
152,TAP 415,Level 4/N1,4,37.784420,-122.406832,0.027419,-2698.469415,-4250.986905,3903.461817
153,Optica,Level 4/N1,4,37.784702,-122.406248,0.062911,-2698.415789,-4250.998189,3903.486599
154,M.Y. China,Level 4/N1,4,37.784206,-122.406528,0.031778,-2698.454673,-4251.013531,3903.443010
155,Bespoke Coworking,Level 4/N1,4,37.784178,-122.405776,0.071930,-2698.399901,-4251.050558,3903.440550
156,Bespoke Events,Level 4/N1,4,37.783859,-122.406350,0.043004,-2698.454136,-4251.041873,3903.412516
157,Bose,Level 4/N1,4,37.784539,-122.406081,0.063502,-2698.409350,-4251.015430,3903.472274
158,Nordstrom,Level 4/N1,4,37.783820,-122.407311,0.021638,-2698.526861,-4250.998855,3903.409088
159,Bloomingdale's,Level 4/N1,4,37.783802,-122.405736,0.076212,-2698.410662,-4251.074069,3903.407507
160,Nordstrom,Level 5/N2,5,37.784076,-122.407307,0.012022,-2698.517217,-4250.984319,3903.431586
161,Century San Francisco Centre 9,Level 5/N2,5,37.783890,-122.405736,0.074921,-2698.407449,-4251.069007,3903.415240
162,Burke Williams Day Spa,Level 5/N2,5,37.784204,-122.406574,0.029332,-2698.458159,-4251.011480,3903.442834
163,Nordstrom,N3,6,37.784090,-122.407309,0.012158,-2698.516854,-4250.983420,3903.432816
164,Nordstrom,N4,7,37.784073,-122.407289,0.011044,-2698.515991,-4250.985340,3903.431322
165,Nordstrom,N5,8,37.784087,-122.407307,0.012037,-2698.516815,-4250.983687,3903.432553

In [188]:
Store_map['rel_x'] = Store_map.new_X-xx
Store_map['rel_y'] = Store_map.new_Y-yy
Store_map['rel_z'] = Store_map.new_Z-zz

In [191]:
Storess=Store_map.copy()
Storess.head()

,Store_Name,Floor_name,Floor_Index,latitude,longitude,total_dist,new_X,new_Y,new_Z,rel_x,rel_y,rel_z
0,Jamba Juice,Concourse Level,0,37.784091,-122.406813,0.014986,-2698.480018,-4251.006723,3903.432904,0.007321,0.115989,0.131382
1,Coriander Gourmet Thai,Concourse Level,0,37.784596,-122.406210,0.059786,-2698.416840,-4251.006076,3903.477283,0.070498,0.116636,0.175761
2,NYS Collection,Concourse Level,0,37.784396,-122.406587,0.035041,-2698.452114,-4250.999824,3903.459707,0.035225,0.122888,0.158186
3,Hallmark,Concourse Level,0,37.783771,-122.407377,0.026490,-2698.533547,-4250.998565,3903.404782,-0.046208,0.124147,0.103260
4,Sorabol Korean BBQ & Asian Noodles,Concourse Level,0,37.784601,-122.406328,0.054986,-2698.425413,-4251.000231,3903.477723,0.061926,0.122481,0.176201

In [ ]:
import math
Nearest_shop=[]
Nearest_Distance=[]
for i in range(len(Ping_info)):
    Shopper_x=new_ping.new_x[i]
    Shopper_y=new_ping.new_y[i]
    Shopper_z=new_ping.new_z[i]
    disss=lambda x,y,z:np.sqrt((Shopper_x-x)**2+(Shopper_y-y)**2+(Shopper_z-z)**2)
    Storess['total_dist'] = list(map(disss,Storess.new_x,Storess.new_y,Storess.new_z))

    arg=np.argmin(Store_map[Store_map["Floor_Index"]==Ping_info.store_floor[i]]["total_dist"])
    Nearest_Distance.append(Store_map.total_dist[arg])
    Nearest_shop.append(Store_map.Store_Name[arg])
    print(i)

In [113]:
Ping_info["X_new"]=list(map(x,Store_map.latitude,Store_map.longitude))

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z,4
1,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z,1
2,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z,4
3,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z,0
4,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z,2

In [112]:
Ping_info.head()

,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor
0,Shopper_556,Floor 4,37.661463,-122.298673,-2934.558251,-16169.722290,2016-11-22T02:16:06.000Z,4
1,Shopper_556,Floor 1,37.784062,-122.406943,117.262475,151.823812,2016-12-23T22:01:25.000Z,1
2,Shopper_556,Floor 4,37.784361,-122.406710,156.125087,171.357200,2016-11-22T01:42:28.000Z,4
3,Shopper_360,Concourse,37.784341,-122.406891,134.499673,167.674401,2016-10-13T18:27:38.000Z,0
4,Shopper_360,Floor 2,37.784017,-122.407307,94.981693,172.269243,2016-10-12T21:36:18.000Z,2

In [81]:
i=0
shopper_lat=Ping_info.lat[i]
shopper_lon=Ping_info.lng[i]
latt=Store_map.latitude
lngg=Store_map.longitude

Store_map['total_dist'] = list(map(disss,latt,lngg))
Store_map[Store_map["Floor_Index"]==Ping_info.store_floor[i]]["total_dist"]
# print(np.argmin(Store_map[Store_map["Floor_Index"]==Ping_info.store_floor[i]]["total_dist"]))
# print(np.min(Store_map[Store_map["Floor_Index"]==Ping_info.store_floor[i]]["total_dist"]))
# append(Store_map.total_dist[arg])
# append(Store_map.Store_Name[arg])

152    10.351804
153    10.349630
154    10.330180
155    10.305183
156    10.304945
157    10.335177
158    10.332835
159    10.282573
Name: total_dist, dtype: float64

In [74]:
Store_map

,Store_Name,Floor_name,Floor_Index,latitude,longitude,total_dist
0,Jamba Juice,Concourse Level,0,37.784091,-122.406813,10.332562
1,Coriander Gourmet Thai,Concourse Level,0,37.784596,-122.406210,10.342424
2,NYS Collection,Concourse Level,0,37.784396,-122.406587,10.342799
3,Hallmark,Concourse Level,0,37.783771,-122.407377,10.332139
4,Sorabol Korean BBQ & Asian Noodles,Concourse Level,0,37.784601,-122.406328,10.346376
5,Pasta Moto,Concourse Level,0,37.784534,-122.406025,10.333154
6,Abercrombie & Fitch,Concourse Level,0,37.783944,-122.407537,10.346946
7,Fire of Brazil,Concourse Level,0,37.784447,-122.406224,10.334392
8,ProActiv Solutions,Concourse Level,0,37.784161,-122.406900,10.339249
9,Corner W,Concourse Level,0,37.784808,-122.406501,10.363516
10,Buckhorn Grill,Concourse Level,0,37.784569,-122.406141,10.338746
11,Cako Bakery,Concourse Level,0,37.784670,-122.406679,10.361217
12,Claire's Boutique,Concourse Level,0,37.784126,-122.407061,10.342306
13,Bristol Farms,Concourse Level,0,37.784159,-122.406350,10.321962
14,PacSun,Concourse Level,0,37.783959,-122.406910,10.328121
15,DAVIDsTEA,Concourse Level,0,37.784411,-122.406709,10.347455
16,Andale Mexican Restaurant,Concourse Level,0,37.784511,-122.405956,10.329705
17,Sunglass Hut,Concourse Level,0,37.784071,-122.406885,10.333682
18,Peet's Coffee & Tea,Concourse Level,0,37.784591,-122.406782,10.359944
19,Panda Express,Concourse Level,0,37.783778,-122.407161,10.325749
20,GNC,Concourse Level,0,37.784053,-122.407307,10.345885
21,New Era,Concourse Level,0,37.783893,-122.407389,10.339412
22,LEGO,Concourse Level,0,37.784222,-122.406978,10.345145
23,Mrs. Fields,Concourse Level,0,37.783953,-122.407318,10.340575
24,Beard Papa's Cream Puffs,Concourse Level,0,37.784505,-122.406555,10.347988
25,Ajisen Ramen,Concourse Level,0,37.783767,-122.407070,10.322271
26,Shoe Palace,Concourse Level,0,37.784106,-122.407189,10.345184
27,Loving Hut Vegan Cuisine,Concourse Level,0,37.784292,-122.406010,10.318932
28,Ghirardelli Ice Cream and Chocolate Shop,Concourse Level,0,37.784449,-122.406665,10.348239
29,Marbles: The Brain Store,Concourse Level,0,37.784353,-122.406773,10.346163
...,...,...,...,...,...,...
136,Lids,Level 3,3,37.784101,-122.406854,10.334411
137,iPlay n Talk,Level 3,3,37.783871,-122.407073,10.328249
138,Go! Toys and Games,Level 3,3,37.784153,-122.405871,10.306713
139,Bloomingdale's,Level 3,3,37.783745,-122.405601,10.275136
140,Fossil,Level 3,3,37.784191,-122.407111,10.347552
141,Vans,Level 3,3,37.784267,-122.405933,10.315119
142,Eyebrow Plus,Level 3,3,37.784386,-122.406589,10.342294
143,True Religion Jeans,Level 3,3,37.784540,-122.406132,10.336818
144,Finish Line,Level 3,3,37.783912,-122.407474,10.343157
145,Lucky Brand Jeans,Level 3,3,37.784663,-122.406313,10.349433
146,Bath & Body Works,Level 3,3,37.784135,-122.406406,10.322347
147,H&M,Level 3,3,37.783957,-122.406249,10.307352
148,Teavana,Level 3,3,37.783814,-122.407399,10.335261
149,Steve Madden,Level 3,3,37.784197,-122.406980,10.343791
150,Forever Flawless,Level 3,3,37.784701,-122.406758,10.365438
151,Solstice,Level 3,3,37.784360,-122.406786,10.346966
152,TAP 415,Level 4/N1,4,37.784420,-122.406832,10.351804
153,Optica,Level 4/N1,4,37.784702,-122.406248,10.349630
154,M.Y. China,Level 4/N1,4,37.784206,-122.406528,10.330180
155,Bespoke Coworking,Level 4/N1,4,37.784178,-122.405776,10.305183
156,Bespoke Events,Level 4/N1,4,37.783859,-122.406350,10.304945
157,Bose,Level 4/N1,4,37.784539,-122.406081,10.335177
158,Nordstrom,Level 4/N1,4,37.783820,-122.407311,10.332835
159,Bloomingdale's,Level 4/N1,4,37.783802,-122.405736,10.282573
160,Nordstrom,Level 5/N2,5,37.784076,-122.407307,10.347186
161,Century San Francisco Centre 9,Level 5/N2,5,37.783890,-122.405736,10.287572
162,Burke Williams Day Spa,Level 5/N2,5,37.784204,-122.406574,10.331502
163,Nordstrom,N3,6,37.784090,-122.407309,10.348041
164,Nordstrom,N4,7,37.784073,-122.407289,10.346452
165,Nordstrom,N5,8,37.784087,-122.407307,10.347809

In [138]:
disss

In [66]:
print(np.argmin(Store_map["total_dist"]))
print(min(Store_map["total_dist"]))

139
10.2751361594

In [55]:
len(Store_map.Store_Name.unique())

154

In [61]:
len(Store_map[Store_map["Floor_Index"]==4].Store_Name.unique())

8

In [313]:
Ping_info['Nearest_shop']=Nearest_shop
Ping_info['Nearest_Distance']=Nearest_Distance

In [328]:
df=Category_map[['Store_Name','Fine_Category']]
df.columns =['Nearest_shop', 'Fine_Category']
Merged=pd.merge(df,Ping_info, on ='Nearest_shop')

In [329]:
Merged

,Nearest_shop,Fine_Category,Unnamed: 0,Shopper_ID,floor,lat,lng,x,y,seenTimestamp,store_floor,Nearest_Distance
0,Amazon Pop-Up,Misc.,NaN,Shopper_78,Floor 1,37.784495,-122.406434,182.879352,154.750342,2017-04-12T03:00:28.000Z,1,0.000043
1,Amazon Pop-Up,Misc.,NaN,Shopper_41,Floor 1,37.784532,-122.406440,185.408467,158.091628,2017-01-13T01:48:52.000Z,1,0.000079
2,Amazon Pop-Up,Misc.,NaN,Shopper_301,Floor 1,37.784440,-122.406540,171.934092,156.960399,2017-04-23T19:25:05.000Z,1,0.000098
3,Amazon Pop-Up,Misc.,NaN,Shopper_275,Floor 1,37.784522,-122.406410,186.532329,155.471189,2017-01-07T03:11:49.000Z,1,0.000077
4,Amazon Pop-Up,Misc.,NaN,Shopper_103,Floor 1,37.784414,-122.406476,173.915877,150.997730,2016-12-23T05:51:22.000Z,1,0.000051
5,Amazon Pop-Up,Misc.,NaN,Shopper_139,Floor 1,37.784474,-122.406551,173.927177,160.366310,2017-05-20T20:07:54.000Z,1,0.000110
6,Amazon Pop-Up,Misc.,NaN,Shopper_348,Floor 1,37.784512,-122.406419,185.162463,155.200872,2016-12-31T03:06:18.000Z,1,0.000064
7,Amazon Pop-Up,Misc.,NaN,Shopper_544,Floor 1,37.784512,-122.406419,185.162463,155.200872,2016-12-29T21:13:15.000Z,1,0.000064
8,Amazon Pop-Up,Misc.,NaN,Shopper_14,Floor 1,37.784393,-122.406444,174.258948,147.297467,2017-01-12T00:04:25.000Z,1,0.000060
9,Amazon Pop-Up,Misc.,NaN,Shopper_475,Floor 1,37.784509,-122.406501,179.752808,160.016839,2017-04-30T18:55:27.000Z,1,0.000081
10,Amazon Pop-Up,Misc.,NaN,Shopper_123,Floor 1,37.784508,-122.406481,180.970027,158.710163,2017-06-02T20:02:33.000Z,1,0.000067
11,Amazon Pop-Up,Misc.,NaN,Shopper_103,Floor 1,37.784514,-122.406540,177.738720,162.877056,2016-12-24T05:18:36.000Z,1,0.000115
12,Amazon Pop-Up,Misc.,NaN,Shopper_52,Floor 1,37.784479,-122.406513,176.689575,158.426569,2016-12-31T23:48:14.000Z,1,0.000075
13,Amazon Pop-Up,Misc.,NaN,Shopper_9,Floor 1,37.784451,-122.406500,175.332316,155.329047,2017-01-09T21:03:57.000Z,1,0.000057
14,Amazon Pop-Up,Misc.,NaN,Shopper_544,Floor 1,37.784473,-122.406543,174.368409,159.805154,2017-01-25T20:19:28.000Z,1,0.000102
15,Amazon Pop-Up,Misc.,NaN,Shopper_272,Floor 1,37.784430,-122.406515,172.726966,154.616743,2016-12-23T05:37:35.000Z,1,0.000076
16,Amazon Pop-Up,Misc.,NaN,Shopper_249,Floor 1,37.784436,-122.406551,171.011290,157.323777,2016-12-26T18:52:21.000Z,1,0.000109
17,Amazon Pop-Up,Misc.,NaN,Shopper_342,Floor 1,37.784514,-122.406497,180.421546,160.133735,2016-12-23T04:46:34.000Z,1,0.000081
18,Amazon Pop-Up,Misc.,NaN,Shopper_148,Floor 1,37.784517,-122.406421,185.414881,155.698019,2017-01-01T01:21:06.000Z,1,0.000068
19,Amazon Pop-Up,Misc.,NaN,Shopper_477,Floor 1,37.784381,-122.406490,170.448199,149.194940,2017-05-02T23:54:34.000Z,1,0.000086
20,Amazon Pop-Up,Misc.,NaN,Shopper_456,Floor 1,37.784416,-122.406422,177.447092,147.782873,2017-01-02T01:13:00.000Z,1,0.000043
21,Amazon Pop-Up,Misc.,NaN,Shopper_491,Floor 1,37.784495,-122.406434,182.879352,154.750342,2017-03-10T20:51:05.000Z,1,0.000043
22,Amazon Pop-Up,Misc.,NaN,Shopper_426,Floor 1,37.784483,-122.406500,177.788032,157.847447,2017-01-02T01:47:22.000Z,1,0.000064
23,Amazon Pop-Up,Misc.,NaN,Shopper_103,Floor 1,37.784503,-122.406432,183.628499,155.365461,2016-12-23T05:47:35.000Z,1,0.000051
24,Amazon Pop-Up,Misc.,NaN,Shopper_544,Floor 1,37.784519,-122.406533,178.546702,162.851733,2016-12-29T22:39:46.000Z,1,0.000112
25,Amazon Pop-Up,Misc.,NaN,Shopper_301,Floor 1,37.784463,-122.406547,173.328431,159.222012,2017-04-21T01:05:32.000Z,1,0.000104
26,Amazon Pop-Up,Misc.,NaN,Shopper_304,Floor 1,37.784430,-122.406463,176.035196,151.424852,2017-05-12T20:02:24.000Z,1,0.000030
27,Amazon Pop-Up,Misc.,NaN,Shopper_348,Floor 1,37.784509,-122.406541,177.221705,162.472998,2016-12-31T04:11:23.000Z,1,0.000113
28,Amazon Pop-Up,Misc.,NaN,Shopper_25,Floor 1,37.784422,-122.406495,173.391791,152.737899,2016-12-23T23:23:05.000Z,1,0.000060
29,Amazon Pop-Up,Misc.,NaN,Shopper_426,Floor 1,37.784501,-122.406526,177.539146,160.935611,2017-01-02T01:46:49.000Z,1,0.000096
...,...,...,...,...,...,...,...,...,...,...,...,...
107605,Currency Exchange International,Misc.,NaN,Shopper_272,Floor 1,37.783793,-122.407360,70.200869,156.115789,2016-12-23T04:29:57.000Z,1,0.000029
107606,Currency Exchange International,Misc.,NaN,Shopper_265,Floor 1,37.783795,-122.407268,76.124876,150.595580,2016-12-24T22:03:42.000Z,1,0.000070
107607,Currency Exchange International,Misc.,NaN,Shopper_532,Floor 1,37.783877,-122.407203,86.583519,153.180422,2017-06-07T00:05:49.000Z,1,0.000149
107608,Currency Exchange International,Misc.,NaN,Shopper_387,Floor 1,37.783789,-122.407262,76.021411,149.804376,2016-12-22T22:52:40.000Z,1,0.000077
107609,Currency Exchange International,Misc.,NaN,Shopper_142,Floor 1,37.783800,-122.407241,78.173018,149.362545,2016-12-30T02:42:01.000Z,1,0.000096
107610,Currency Exchange International,Misc.,NaN,Shopper_246,Floor 1,37.783924,-122.407193,90.832398,156.212998,2017-03-24T18:55:01.000Z,1,0.000183
107611,Currency Exchange International,Misc.,NaN,Shopper_119,Floor 1,37.783840,-122.407236,81.628351,152.302393,2017-01-14T14:46:48.000Z,1,0.000104
107612,Currency Exchange International,Misc.,NaN,Shopper_330,Floor 1,37.783840,-122.407236,81.628351,152.302393,2017-01-20T00:24:26.000Z,1,0.000104
107613,Currency Exchange International,Misc.,NaN,Shopper_10,Floor 1,37.783835,-122.407211,82.812660,150.334397,2017-01-11T23:47:40.000Z,1,0.000127
107614,Currency Exchange International,Misc.,NaN,Shopper_213,Floor 1,37.783795,-122.407268,76.124876,150.595580,2016-12-29T23:34:21.000Z,1,0.000070
107615,Currency Exchange International,Misc.,NaN,Shopper_14,Floor 1,37.783918,-122.407192,90.493859,155.748012,2017-01-05T00:10:19.000Z,1,0.000180
107616,Currency Exchange International,Misc.,NaN,Shopper_101,Floor 1,37.783941,-122.407208,91.274552,158.534318,2017-04-05T17:20:37.000Z,1,0.000183
107617,Currency Exchange International,Misc.,NaN,Shopper_481,Floor 1,37.783915,-122.407195,89.967537,155.655535,2017-04-11T22:51:25.000Z,1,0.000175
107618,Currency Exchange International,Misc.,NaN,Shopper_532,Floor 1,37.783835,-122.407211,82.812660,150.334397,2017-01-08T02:27:29.000Z,1,0.000127
107619,Currency Exchange International,Misc.,NaN,Shopper_154,Floor 1,37.783795,-122.407268,76.124876,150.595580,2017-01-02T11:24:33.000Z,1,0.000070
107620,Currency Exchange International,Misc.,NaN,Shopper_375,Floor 1,37.783909,-122.407212,88.537887,156.221646,2017-04-09T00:28:37.000Z,1,0.000159
107621,Currency Exchange International,Misc.,NaN,Shopper_557,Floor 1,37.783840,-122.407236,81.628351,152.302393,2017-01-28T01:45:17.000Z,1,0.000104
107622,Currency Exchange International,Misc.,NaN,Shopper_362,Floor 1,37.783886,-122.407198,87.605599,153.557140,2017-04-24T22:59:26.000Z,1,0.000158
107623,Currency Exchange International,Misc.,NaN,Shopper_237,Floor 1,37.783879,-122.407302,80.468254,159.373327,2017-06-01T06:19:30.000Z,1,0.000076
107624,Currency Exchange International,Misc.,NaN,Shopper_170,Floor 1,37.783820,-122.407284,77.111742,153.618487,2016-12-22T22:26:01.000Z,1,0.000053
107625,Currency Exchange International,Misc.,NaN,Shopper_209,Floor 1,37.783882,-122.407318,79.770180,160.673387,2016-12-30T23:04:01.000Z,1,0.000075
107626,Currency Exchange International,Misc.,NaN,Shopper_317,Floor 1,37.783851,-122.407214,83.848288,151.733128,2016-12-24T01:30:40.000Z,1,0.000129
107627,Currency Exchange International,Misc.,NaN,Shopper_490,Floor 1,37.783786,-122.407312,72.711306,152.650636,2016-12-31T04:00:55.000Z,1,0.000034
107628,Currency Exchange International,Misc.,NaN,Shopper_491,Floor 1,37.783879,-122.407302,80.468254,159.373327,2017-01-23T19:28:41.000Z,1,0.000076
107629,Currency Exchange International,Misc.,NaN,Shopper_170,Floor 1,37.783853,-122.407209,84.312738,151.571925,2016-12-22T22:16:59.000Z,1,0.000134
107630,Currency Exchange International,Misc.,NaN,Shopper_106,Floor 1,37.783902,-122.407187,89.530485,154.141707,2017-01-13T19:35:24.000Z,1,0.000175
107631,Currency Exchange International,Misc.,NaN,Shopper_492,Floor 1,37.783795,-122.407268,76.124876,150.595580,2017-01-12T03:23:48.000Z,1,0.000070
107632,Currency Exchange International,Misc.,NaN,Shopper_456,Floor 1,37.783881,-122.407199,87.122359,153.189056,2017-01-02T00:30:28.000Z,1,0.000154
107633,Currency Exchange International,Misc.,NaN,Shopper_119,Floor 1,37.783786,-122.407312,72.711306,152.650636,2017-01-14T14:42:56.000Z,1,0.000034
107634,Currency Exchange International,Misc.,NaN,Shopper_170,Floor 1,37.783835,-122.407211,82.812660,150.334397,2016-12-22T22:27:10.000Z,1,0.000127